
.App-header {
	background-color:#000;
	box-sizing:border-box;
	color:#FFF;
	flex:0 0 128px;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}

.App-header-top {
	display:flex;
	justify-content:space-between;
	align-items:flex-start;
	position:relative;
	padding:18px 18px 0 18px;
}

.App-header h1 {
	font-size:0.8em;
	cursor:pointer;
	margin:0;
	text-transform:uppercase;
	line-height:1.8em;
}

.App-header span.title {
	font-size:80%;
	font-weight:400;
	margin-left:12px;
}

.App-header span.title:before {
	content:'/';
	position:relative;
	left:-4px;
}

.App-header span.name {
	letter-spacing:0.5px;
}

.App-header-contact-info {
	padding-right:48px;
}

.App-header-contact-info a {
	color:#FFF;
	text-decoration:none;
	font-size:0.8em;
	white-space:nowrap;
}

.App-header-contact-info a + a {
	margin-left:40px;
}

.App-header-contact-info a + a:before {
	content:'|';
	position:relative;
	left:-25px;
	color:#999;
}

.App-header-contact-info i {
	color:#00BCD4;
	font-size:130%;
	position:relative;
	top:2px;
	left:-3px;
}